<div class="container text-center">
    <div class="p-3">
        <h1>Tic-Tac-Toe</h1>
    </div>
    <div>
        <button mat-raised-button>Nuevo juego</button>
    </div>
    <div class="mesa-juego">
        <div class="jugador1">
            <p class="" style="font-weight: 700; margin: 0 0 10px;">jugador1</p>
        </div>
        <div class="tablero">
            <div class="row">
                <div class="campo col-4"></div>
                <div class="campo col-4"></div>
                <div class="campo col-4"></div>
            </div>
            <div class="row">
                <div class="campo col-4"></div>
                <div class="campo col-4"></div>
                <div class="campo col-4"></div>
            </div>
            
            <div class="row">
                <div class="campo col-4"></div>
                <div class="campo col-4"></div>
                <div class="campo col-4"></div>
            </div>
        </div>
        <div class="jugador2">
            <p class="" style="font-weight: 700; margin: 0 0 10px;">jugador2</p>
        </div>
    </div>
</div>